html {
  height: 100%;
  width: 100%;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  background-color: #d8d4d4;
}

table, th, td {
  border: 1px solid #888686;
}

th, td {
  border: 1px solid black;
  padding: 20px;
}

.producto {
  border-style: none;
}

p {
  font-size: 25px;
  font-weight: bold;
}